<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение региона</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous">
    <!-- Дополнительные стили Bootstrap (не обязательно) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha512-iy8EXLW01a00b26BaqJWaCmk9fJ4PsMdgNRqV96KwMPSH+blO82OHzisF/zQbRIIi8m0PiO10dpS0QxrcXsisw==" crossorigin="anonymous">
    <!-- jQuery (необходим для Bootstrap JS) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
</head>
<body>
    <form action="#" th:action="@{../updateRegion}" th:object="${region}" method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center h3 bg-primary" th:utext="@{'Редактируем регион - ' + ${region.nameRegion}}"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2 h5"><caption>Ид</caption></div>
                    <div class="col-md-10"><input type="text" th:field="${region.id}" style="width: 100%" disabled="disabled"><input type="hidden" th:field="${region.id}"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 h5"><caption>Код</caption></div>
                    <div class="col-md-10"><input type="text" th:field="${region.codeRegion}" style="width: 100%"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 h5"><caption>Название</caption></div>
                    <div class="col-md-10"><input type="text" th:field="${region.nameRegion}" style="width: 100%"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-2"><input type="submit" value="Изменить"></div>
                </div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </form>

</body>
</html>